@model CargaAcademica.BL.Alumno

@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { style = "margin-top: 50px;padding: 20px; background-color: rgba(3, 54, 119, 0.7);" })) 
{
                @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div style="float:right; margin-right: 10px;">
        <img src="~/images/Portada3.png" width="200" height="145">
    </div>
    <h1>Censo Academico UNAH-VS 2019</h1>
        
        <h2 class="subtitle">Inicio de Sesion</h2>

       

        <div class="form-inline signup" role="form">

            <div class="form-group">
                @Html.EditorFor(model => model.Ncuenta, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresa el numero de cuenta" } })
                @Html.ValidationMessageFor(model => model.Ncuenta, "", new { @class = "text-danger" })
            </div>


            <button type="submit" class="btn btn-theme">Iniciar</button>
        </div>
        }
