
@{
    ViewBag.Title = "Index";
}

  <h2>Carga Academica - Sitio de Administracion</h2>

<!--<p style="color:#ffffff" ; style="font-size:25px ;>Sitio de Administracion</p>-->

<div>
    <img src="~/Imagenes/Portada2.png" width="225" height="100" alt= " Censo Academico UNAH - vs"/>
</div>


<!--body {
background-color: rgb(200.200.200);
}codigo CSS no se donde va todavia -->

<body style="background-color:#5795a7;"> </body> <!-- Linea de codigo para el color de fondo de la pagina -->