<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Censo Academico UNAH-VS</title>

    <!-- Bootstrap -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Siimple
      Theme URL: https://bootstrapmade.com/free-bootstrap-landing-page/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>    
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="derechos reservados" style="color: #fff">&copy; UNAH-VS</p>
                </div>
                <div class="col-md-6">
             
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

</body>

</html>
